<!-- Modal -->
<ng-container *ngIf="ensembleData">
    <div class="modal fade" [attr.id]=" 'downloadModal_' + ensembleData['ensemble_id'] " tabindex="-1"
        aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="downloadModalLabel">Ensemble {{ensembleData['ensemble_id']}} assets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-assets-download-menu [entryId]="entryId" [ensembleId]="ensembleData['ensemble_id']"
                        [ensembleData]="ensembleData">
                    </app-assets-download-menu>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- Main Content -->
<div class="mx-2">
    <div class="row mb-2 align-items-center">
        <div class="col-auto">
            <strong>Ensemble ID</strong> {{ensembleData['ensemble_id']}}
        </div>
        <div class="col-auto">
            <strong class="pl-5 me-2">Number of models </strong> {{ensembleData['models']}} <span class="text-warning"
                placement="right" *ngIf="(ensembleData['models']) > 1000"
                tooltip="This is a big ensemble (>1000 conformers). Molprobity analysis not available."> <strong><i
                        class="bi bi-exclamation-circle-fill"></i></strong></span>
        </div>
        <div class="col-auto">
            <span *ngFor="let currChain of chainNames" class="badge bg-secondary me-1"
                [class.bg-primary]="currChain === currChainName.value"
                [class.bg-hover]="currChain !== currChainName.value" (click)="currChainName.next(currChain)">
                Chain: {{currChain}}
            </span>
        </div>
        <div class="col" style="text-align:right;">
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                [attr.data-bs-target]=" '#downloadModal_' + ensembleData['ensemble_id'] ">
                Download Assets
            </button>
        </div>

    </div>
    <div class="row mb-2 align-items-center">
        <div class="col-md"><span>
                <strong>Secondary structure entropy </strong>
                {{currStatData['entropy_dssp_mean'] | number:'1.2-2'}}</span></div>
        <div class="col-md"><span>
                <strong>Relative solvent accessibility </strong>
                {{currStatData['relative_asa_mean'] | number:'1.2-2'}} </span></div>
        <div class="col-md"><span>
                <strong>Radius of gyration </strong>
                {{currStatData['rg_mean'] | number:'1.2-2'}} </span></div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div id="molstar{{ensembleData['ensemble_id']}}" style="overflow: hidden">
            </div>
        </div>
        <div class="col-lg-4" *ngIf="(ensembleData['models']) <= 1000 && !(ensembleData['only_CA'])">
            <img src="{{currLinks.ramachandran_plot}}" width="100%">
        </div>
        <div class="col-lg-4" *ngIf="!(ensembleData['only_CA'])">
            <img src="{{currLinks.rg_boxplot}}" width="100%">
        </div>
    </div>
</div>