<div class="container-xl">

    <h1 id="uniprot-summary" class="mb-3">
        <span *ngIf="uniprotACC" class="badge bg-primary me-2">
            {{uniprotACC}}
        </span>
        <ng-container *ngIf="proteinData">{{proteinData['name']}}</ng-container>
    </h1>
    <ng-container *ngIf="proteinData">
        <div class="row mb-2">
            <div class="col">
                <span>
                    <strong>Organism: </strong>{{proteinData['organism_name']}}
                    <strong class="ms-2">NCBI taxon ID: </strong>
                    <a class="badge bg-dark"
                        href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{proteinData['organism_taxon']}}">
                        {{proteinData['organism_taxon']}} <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </span>
            </div>
        </div>
        <div class="row mb-2" *ngIf="proteinData['function'] && proteinData['function'].length > 0">
            <div class="col text-justify">
                <span>
                    <strong>Function: </strong>{{proteinData['function']}}
                    <a href="https://uniprot.org/uniprot/{{uniprotACC}}"><i class="bi bi-box-arrow-up-right"></i></a>
                </span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <span>
                    <strong>Cross reference: </strong>
                </span>
                <a class="badge bg-dark mx-1"
                    *ngIf="disprotGeneralData && disprotGeneralData.hasOwnProperty('disprot_id')"
                    href="https://disprot.org/{{disprotGeneralData['disprot_id']}}">DisProt:{{disprotGeneralData['disprot_id']}}
                    <i class="bi bi-box-arrow-up-right"></i></a>
                <a class="badge bg-dark mx-1" href="https://uniprot.org/uniprot/{{uniprotACC}}">UniProt:{{uniprotACC}}
                    <i class="bi bi-box-arrow-up-right"></i></a>
                <a class="badge bg-dark mx-1" href="https://mobidb.org/{{uniprotACC}}">MobiDB:{{uniprotACC}}
                    <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
    </ng-container>

    <div id="protein-entries">
        <div class="row mt-4" *ngFor="let entryData of entriesData;">
            <app-protein-card [entryData]="entryData" [selectedProtein]="uniprotACC"></app-protein-card>
        </div>
        <div *ngIf="entriesData.length <= 0 && !entriesLoading" class="row mt-4 pt-4 mb-2 justify-content-center fw-bold" style="color:gray" >
            No entries found
        </div>
    </div>
</div>