<div class="container-xl">
  <div class="row">
    <div class="col-md pt-2 pb-2">
      <div class="row align-items-center">
        <!--        <div class="col-auto">-->
        <!--          <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">-->
        <!--            <img class="img-logo" src="assets/img/logos/biocompup_logo.jpg" alt="BioComputing UP logo">-->
        <!--          </a>-->
        <!--        </div>-->
        <div class="col footer-text pl-0">
          <small>University of Padova, Italy
            <br>
            <a routerLinkActive="active" routerLink="about" title="About">
              License and disclaimer
            </a>
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-auto pt-2 pb-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="http://www.biomed.unipd.it/?L=1">
            <img class="img-logo" src="assets/logos/DSB_logo_white.svg" alt="Dept. Biomed. Sci logo">
          </a>
        </div>
        <div class="col footer-text pl-0 d-md-none">
          <small>Department of Biomedical Sciences.</small>
        </div>
      </div>
    </div>
    <div class="col-md-auto pt-2 pb-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="https://www.unipd.it/en/">
            <img class="img-logo" src="assets/logos/UniPD-800_logo_white.svg" alt="UniPD logo">
          </a>
        </div>
        <div class="col footer-text pl-0 d-md-none">
          <small>University of Padua.</small>
        </div>
      </div>
    </div>
  </div>
</div>
