@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";


//$primary-light: #87AF64;
//$primary: #326951;
//$primary-middle: $primary;
//$primary-dark: #003C40;

$primary-light: #78bce3;
$primary: #2274a5;
$primary-middle: $primary;
$primary-dark: #185477;

// Previous color palette https://coolors.co/4c243b-67516d-817e9f-f8f9f7-899d78-466d5c-023c40




//$primary: #00557C;
//$primary-light:#55A630;
// $primary: #BF2315;
//$primary-light:#D96704;
$success: #2F8348;
$danger: #b2252e;
//#CF2A2D;
//$info: #2274a5;
$info: $primary-middle;
$gray-bs: #6c757d;

//$dark: shade-color($primary, 60);

// Create your own map
$custom-colors: (
  "primary-light": $primary-light,
  "primary-dark": $primary-dark
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);


$theme-colors: map-merge($theme-colors, $custom-colors);

