<div class="container-fluid">
  <nav class="navbar navbar-dark bg-nav navbar-expand-lg fixed-top" id="navbar">
    <div class="container-xl">
      <!-- <a class="navbar-brand" style="color: #ffffffcc; line-height:18px" routerLink="/">
        <strong style="color: #ffffffee">P</strong><span style="font-weight: lighter">rotein</span><br><strong
          style="color: #ffffffee">E</strong><span style="font-weight: lighter">nsemble</span><br><strong
          style="color: #ffffffee">D</strong><span style="font-weight: lighter">atabase</span>
      </a> -->
      <a routerLink="">
        <img id="ped_logo_nav" class="img-fluid" src="assets/logos/PED_logo_white.svg">
      </a>
      <button class="navbar-toggler" type="button" (click)="closeMenu()" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" (click)="closeMenu()">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url.slice(0,7) === '/browse'" routerLink="/browse">Browse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/help'" routerLink="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/about'" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/deposition'" routerLink="/deposition">Deposition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="router.url === '/api'" routerLink="/api">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>