<div class="card p-3">
    <div class="row mb-3 align-items-center">
        <strong class="col-auto">Ensemble: </strong>
        <span class="badge bg-primary col-auto">{{entryData["entry_id"] + ensData['ensemble_id']}}</span>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img class="p-2" style="max-width: 100%; max-height: 150px"
                src="{{ws}}entries/{{entryData['entry_id']}}/ensembles/{{ensData['ensemble_id']}}/chains/{{curChain}}/ensemble-animation/">
        </div>
        <div class="col-sm-8">

            <div class="row mb-2">
                <ng-container *ngFor="let chain of ensData['chains']">
                    <span *ngIf="validChains.includes(chain['chain_name']) && curChain===chain['chain_name']" 
                        class="badge bg-dark col-auto me-1"
                        style="cursor: pointer;"
                        [tooltip]="'Chain '+chain['chain_name']+' is selected'">
                        Chain: {{chain['chain_name']}}
                    </span>
                    <span *ngIf="validChains.includes(chain['chain_name']) && curChain!==chain['chain_name']" 
                        class="badge bg-gray col-auto me-1"
                        style="cursor: pointer;"
                        [tooltip]="'Select this chain'"
                        (click)="assignChain(chain['chain_name'])">
                        Chain: {{chain['chain_name']}}
                    </span>
                    <span *ngIf="!validChains.includes(chain['chain_name'])" 
                        class="badge border bg-light text-dark col-auto me-1"
                        [tooltip]="'Chain '+chain['chain_name']+' doesn\'t contain any fragment of this protein'">
                        Chain: {{chain['chain_name']}}
                    </span>
                </ng-container>
            </div>

            <div class="row small">
                <strong class="col">Secondary structure entropy</strong>
                <div class="col-auto">{{curStats['entropy_dssp_mean'] | number:'1.2-2'}}</div>
            </div>
            <div class="row small">
                <strong class="col">Relative solvent accessibility</strong>
                <div class="col-auto">{{curStats['relative_asa_mean'] | number:'1.2-2'}}</div>
            </div>
            <div class="row small">
                <strong class="col">Radius of gyration</strong>
                <div class="col-auto">{{curStats['rg_mean'] | number:'1.2-2'}}</div>
            </div>
        </div>

    </div>
</div>