<div *ngIf="!isLoading">
    <div class="row mx-2 mb-4 p-2" *ngFor="let chain of entryData['construct_chains']; let chainIdx = index;">
        <div class="col">
            <div class="row">
                <p><strong>Chain name:</strong> {{chain.chain_name}}</p>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <app-fv-dssp [sequence]="chain.alignment.pdb_sequence" [fvId]="chain.chain_name + '_dssp'"
                        [dsspData]="dsspData" [chainName]="chain.chain_name"></app-fv-dssp>
                </div>
            </div>
        </div>
    </div>
</div>