<div class="row mx-1 mb-4">
    <ul class="nav nav-tabs">
        <li class="nav-item" style="cursor: pointer;" (click)="selectTab('construct')">
            <a class="nav-link" [ngClass]="{active: activeTab==='construct'}">
                <strong>Construct</strong>
            </a>
        </li>
        <li class="nav-item" style="cursor: pointer;" (click)="selectTab('ensembles')">
            <a class="nav-link" [ngClass]="{active: activeTab==='ensembles'}">
                <strong>Ensembles</strong>
            </a>
        </li>
        <li class="nav-item" style="cursor: pointer;" (click)="selectTab('secondary_structure')">
            <a class="nav-link" [ngClass]="{active: activeTab==='secondary_structure'}">
                <strong>Secondary Structure</strong>
            </a>
        </li>
    </ul>
</div>

<div class="row">
    <ng-container *ngIf="activeTab === 'construct'">
        <app-entry-construct-section [constructData]="entryData['construct_chains']"></app-entry-construct-section>
    </ng-container>

    <ng-container *ngIf="activeTab === 'ensembles'">
        <app-entry-ensembles-section [entryData]="entryData"></app-entry-ensembles-section>
    </ng-container>

    <ng-container *ngIf="activeTab === 'secondary_structure'">
        <app-entry-dssp-section [entryData]="entryData"></app-entry-dssp-section>
    </ng-container>

</div>